body {
    overflow-x: hidden;
}
#loading
{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 1.0;
	background-color: #fff;
	z-index: 99;
}

#loading-image 
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	width: 10%;
	height: 20%;
	z-index: 100;
}