{% extends 'layout.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{a}}
{% endblock %}

{%block content%}
<a href="/book-tags" class="btn btn-dark m-3">Back to all books</a>
<h1 class="m-3">{{a}}</h1>
<br>
<table class="table table-hover table-light table-bordered display" id="bookList">
    <thead>
        <tr>
            <th scope="col">Renert Book ID</th>
            <th scope="col">Title</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody class="table-group-divider border-top-dark">
        {% for a in author %}
                <tr>
                    <td>
                        <a href="/book/{{a.renert_id}}" class="text-decoration-none text-info"> {{a.renert_id}} </a>
                    </td>
                    <td>
                        <a href="/book/{{a.renert_id}}" class="text-decoration-none text-info">{{a.title}}</a>
                    </td>
                    <td>
                        {{a.notes}}
                    </td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}

{% block script %}
<script>
    $(document).ready( function () {
      $('#bookList').DataTable();
  } );
</script>
{% endblock %}